.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: orange;
  background-size: cover;
  margin-bottom: 40px;
 /*  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px; */
} 
#form {
  align-items: center;
  margin-top: 200px;
  display: inline-block;
  width: 100px;
  height:100px;
}
.search-button {
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 10%;
} 
header{
  position: fixed;
  width: 100%;
  height: auto;
}

.Nav {
  font-size: 40px;
  justify-content:center;
  background-color: gray;
  height: 3em;
  opacity: 50%;

}
.genre{
  color: white;
}
.home {
  color: white;
}
.list {
  color: white;
  float: right;
}
img {
  width:500px;
  height:500px;
  border:solid, black;
  border-radius: 10%;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3{
  color: white;
}
.nav {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.links{
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: -45px;;
}
#link2{
  margin-top: -25px;
}
#link3{
  margin-top: -25px;
}
.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}

.search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  margin-top: 150px;
  width: 50%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;
}

.search:hover, .search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.images {
  display: flexbox;
}
.app-name{
  opacity: 250%;
}
.add-button:hover{
  justify-content: center;
  width: 50px;
  height: 30px;
  background-color: gray;
}
@media (max-width: 800px) {
  body {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
  header{
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: auto;
  }
  .details{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
  }
  #details{

  }
}
